<div class="center hero-unit">
  <div class="opaque">
    <h1>Umbrella Donations Inc.</h1>
    <h2>
      Help us help you help people
    </h2>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
</div>
